/*
* 公共样式
*/

html {
  font-size: 100px;
}
body {
  font-size: 14px;
}

.query-form {
  background-color: #ffffff;
  padding: 22px 20px 0;
  border-radius: 5px;
  text-align: left;
}
.base-table {
  border-radius: 5px;
  background: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  .action {
    text-align: left;
    border-radius: 5px 5px 0px 0px;
    background: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #ece8e8;
  }
  .pagination {
    text-align: right;
    padding: 10px;
  }
}
